.Term {
  margin-top: 2.2em;
}

.Term-en p::before{
  margin-left: 10px;
  content: "en";
  float: right;
  color: lightgray;
  font-size: 1rem;
}

.Term-ru p::before{
  margin-left: 10px;
  content: "ru";
  float: right;
  color: lightgray;
  font-size: 1rem;
}

.Term-ja p::before{
  margin-left: 10px;
  content: "ja";
  float: right;
  color: lightgray;
  font-size: 1rem;
}

.Term-zn-CH p::before{
  margin-left: 10px;
  content: "zn-CH";
  float: right;
  color: lightgray;
  font-size: 1rem;
}

.Term-ko p::before{
  margin-left: 10px;
  content: "ko";
  float: right;
  color: lightgray;
  font-size: 1rem;
}

.Term-sentence {
  margin: 20px 0;
  white-space: pre-line;
}